In [ ]:
import pandas as pd
from mas.clustering import gaussian_kernel

In [2]:
FILENAME = "../data/Iris.csv"

In [3]:
df = pd.read_csv(FILENAME, delimiter=';')

df.head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width      Species
0          5,1         3,5          1,4         0,2  Iris-setosa
1          4,9           3          1,4         0,2  Iris-setosa
2          4,7         3,2          1,3         0,2  Iris-setosa
3          4,6         3,1          1,5         0,2  Iris-setosa
4            5         3,6          1,4         0,2  Iris-setosa

In [5]:
df_test = df.iloc[:, 0:2]
df_test.head()

  Sepal.Length Sepal.Width
0          5,1         3,5
1          4,9           3
2          4,7         3,2
3          4,6         3,1
4            5         3,6

In [ ]:
np_test = df_test.replace(',', '.', regex=True).to_numpy(dtype=float)
gaussian_kernel(np_test, sigma=1)

array([[1.        , 0.86502229, 0.8824969 , ..., 0.33121088, 0.54335087,
        0.64082428],
       [0.86502229, 1.        , 0.96078944, ..., 0.2780373 , 0.39653142,
        0.60653066],
       [0.8824969 , 0.96078944, 1.        , ..., 0.19398004, 0.31822392,
        0.47711392],
       ...,
       [0.33121088, 0.2780373 , 0.19398004, ..., 1.        , 0.8824969 ,
        0.83527021],
       [0.54335087, 0.39653142, 0.31822392, ..., 0.8824969 , 1.        ,
        0.8824969 ],
       [0.64082428, 0.60653066, 0.47711392, ..., 0.83527021, 0.8824969 ,
        1.        ]])