In [1]:
import os
import pandas as pd
from mas.clustering import knn, eradius, hybrid
from pathlib import Path

In [2]:
FILENAME = "../data/Iris.csv"
OUTPUT_FOLDER = Path("../out")

In [3]:
os.makedirs(OUTPUT_FOLDER)

In [4]:
df_iris = pd.read_csv(FILENAME, delimiter=';')

df_iris.head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width      Species
0          5,1         3,5          1,4         0,2  Iris-setosa
1          4,9           3          1,4         0,2  Iris-setosa
2          4,7         3,2          1,3         0,2  Iris-setosa
3          4,6         3,1          1,5         0,2  Iris-setosa
4            5         3,6          1,4         0,2  Iris-setosa

In [5]:
df_numerical = df_iris.loc[:, df_iris.columns != "Species"]
df_numerical.head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width
0          5,1         3,5          1,4         0,2
1          4,9           3          1,4         0,2
2          4,7         3,2          1,3         0,2
3          4,6         3,1          1,5         0,2
4            5         3,6          1,4         0,2

In [6]:
np_data = df_numerical.replace(',', '.', regex=True).to_numpy(dtype=float)
df_knn = knn(np_data, k=3, sigma=1)
df_knn.to_csv(OUTPUT_FOLDER / "knn.csv", index=False)
df_knn.head()

   Source  Target       Sim
0       0       1  0.865022
1       0       2  0.878095
2       0       3  0.810584
3       1       0  0.865022
4       1       2  0.955997

In [7]:
df_eradius = eradius(np_data, e=0.9, sigma=1)
df_knn.to_csv(OUTPUT_FOLDER / "eradius.csv", index=False)
df_eradius.head()

   Source  Target       Sim
0       0       4  0.990050
1       0       7  0.985112
2       0      10  0.932394
3       0      11  0.932394
4       0      17  0.995012

In [8]:
df_hybrid = hybrid(np_data, k=3, e=0.9, sigma=1)
df_knn.to_csv(OUTPUT_FOLDER / "hybrid.csv", index=False)
df_hybrid.head()

   Source  Target       Sim
0       0       4  0.990050
1       0       7  0.985112
2       0      10  0.932394
3       0      11  0.932394
4       0      17  0.995012

In [9]:
df_iris_species = df_iris.loc[:, df_iris.columns == "Species"]
df_iris_species.reset_index(inplace=True)
df_iris_species = df_iris_species.rename(columns={'index': 'id'})
df_iris_species.to_csv(OUTPUT_FOLDER / "iris.csv", index=False)
df_iris_species.head()

   id      Species
0   0  Iris-setosa
1   1  Iris-setosa
2   2  Iris-setosa
3   3  Iris-setosa
4   4  Iris-setosa